.nestedGrid1 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
}

.title {
    grid-area: 1/1/1/1;
    padding: 2%;
    display: flex;
    justify-content: left;
    align-items: center;
}

h2 {
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 0;
}

.myBtn {
    grid-area: 2/1/2/1;
    padding: 2%;
    display: flex;
    justify-content: right;
    align-items: center;
}

button {
    border-radius: 12px;
}