section {
    padding: 2px;
    margin: 8px;
    #validate {
        color: red;
    }
    #results p {
        font-size: 16px;
        padding-top: 20px;
    }
    #results p span {
        font-size: 16px;
        color: rgb(77, 75, 75);
    }
}